$font-size: 14px;
$font-size-medium: 18px;
$primary-color: #2673dd;
$icon-small: 12px;
$icon-medium: 20px;
$icon-large: 25px;
$sm-breakpoint-min: 480.5px;
$sm-breakpoint-max: 768px;
$md-breakpoint-min: 768.5px;
$md-breakpoint-max: 1024px;
